@font-face {
	font-family: "Inter Thin";
	src: url("./shared/assets/fonts/Inter-Thin.ttf");
}

@font-face {
	font-family: "Inter Light";
	src: url("./shared/assets/fonts/Inter-Light.ttf");
}

@font-face {
	font-family: "Inter Regular";
	src: url("./shared/assets/fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter Medium";
	src: url("./shared/assets/fonts/Inter-Medium.ttf");
}

@font-face {
	font-family: "Inter SemiBold";
	src: url("./shared/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
	font-family: "Inter Bold";
	src: url("./shared/assets/fonts/Inter-Bold.ttf");
}

body, html, #root {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

a:active {
	color: initial;
}

body {
	background-color: #f3f3f3;
	overflow-y: scroll;
	unicode-bidi: embed;
}

* {
	vertical-align: bottom;
	unicode-bidi: embed;
	box-sizing: border-box;
	font-family: "Inter Regular", sans-serif;
}

a {
	background-color: inherit;
	text-decoration: none;
	text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6, b {
	font-family: "Inter SemiBold", sans-serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ul, li, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

